<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	  
<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

	<title>The Spot</title>
</head>

<body>
	{{> header/header }}
	{{{ body }}}
	{{!-- {{> footer/footer }} --}}
    
</body>

</html>