<h2>Edit {{spot.name}}</h2>

<form action='/spots/{{spot_id}}/comments/{{comment._id}}?_method=PUT' method='POST' >
    <input type='text' name='comment[text]' value='{{comment.text}}'>
    <button>Submit!</button>
</form>

<a href="/spots">Back</a>