 <head>
     <link rel="stylesheet" href="../assets/css/landing.css">
 </head>
 
<div id="landing-header">
<h1>Hello Welcome to The Spot</h1>
<a class="btn btn-lg btn-primary" href="/spots">View All Spots</a>
</div>

<ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>