
<h1 id="login-header">Login Form</h1>

<form class="form-group-lg col-lg-12" action='/login' method="POST">
    <div class="form-group col-lg-4">
    <input class="form-control " text='text' name='username' placeholder='username'>
    </div>
    <div class="col-lg-4">

    </div>
    <div class="form-group col-lg-4">
    <input class="form-control" type='password' name='password' placeholder='password'>
    </div>
    <input class="btn btn-default btn-lg" type='submit' value="Login">
    
</form>