<h1>Login Form</h1>

<form action='/login' method="POST">
    <input text='text' name='username' placeholder='username'>
    <input type='password' name='password' placeholder='password'>
    <input type='submit' value="Login">
</form>