<h2>create new spot</h2>

<form action='/spots' method='POST' >
    <input type='text' name='name' placeholder="name">
    <input type='text' name='image' placeholder="image url">
    <button>Submit!</button>
</form>

<a href="/spots">Back</a>