<h1>Register Page!</h1>

<form action='/register' method="POST">
    <input text='text' name='username' placeholder='username'>
    <input type='password' name='password' placeholder='password'>
    <button>Sign Up</button>
     {{!-- Button is auto a submit button if at bottom of a form  --}}
</form>