<h1>Spots PAGE</h1>
<div class='container'>
<header class='jumbotron'>
  <div>
  <h1>Welcome to Spots!</h1>
  <h3>View Ratings for Atlanta spots!</h3>
  <p>
    <a class='btn btn-primary btn-large'href="/spots/new">Add New Spot</a>
  </p>
  </div>
</header>


<div class="spotsList">
  {{#each spots}}
    <h1> {{this.name}}</h1>
    <img src='{{this.image}}'> 
  {{/each}}
</div>



</div>
